.MathJax {
  vertical-align: sub;
}

.math {
  vertical-align: sub;
}

/*.reference{*/
/*  test-underline: None,*/
/*}*/

a {
  text-decoration: none;
}

.reference {
  text-decoration: none;
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 40px; /* Adjust spacing */
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}







.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:100%;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button{
  border-radius:5px;
}

html[data-theme="light"] > * .button{
  background-color: #aaa;
}

html[data-theme="dark"] > * .button{
  background-color: #444;
}

html[data-theme="dark"] > * .button:hover {
  background-color: #777;
}

html[data-theme="light"] > * .button:hover {
  background-color: #777;
}


html[data-theme="light"] > * .card{
  background: inherit;
}
html[data-theme="dark"] > * .card{
  background: #24282e;
}

html[data-theme="light"] > * h2{
  color:black;
}

html[data-theme="dark"] > * h2{
  color:white;
}

html[data-theme="light"] > * p{
  color:grey;
}

html[data-theme="dark"] > * p{
  color:grey;
}
